<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries>
    <package android:name="com.facebook.katana" />
    <package android:name="com.zing.zalo" />
    <package android:name="com.facebook.orca" />
    <package android:name="com.instagram.android" />
    <package android:name="com.instagram.android" />
    <package android:name="com.android.chrome" />
    <package android:name="com.google.android.gm" />
    <package android:name="com.google.android.gms" />
    <package android:name="com.twitter.android" />
    <intent>
      <action android:name="android.intent.action.DIAL" />
      <data android:scheme="tel" />
    </intent>
    <intent>
      <action android:name="android.intent.action.SEND" />
      <data android:mimeType="*/*" />
    </intent>
    <!-- If your app opens https URLs -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
  </queries>
</manifest>
